
// cOlors
$primaryColor:#55c57a;
$primaryColorLight:#7ed56f;
$primaryColorDark:#28b485;

$whiteColor: #ffffff;
$blackColor: #000000;

$grayColorLight: #f7f7f7;
$grayColorDark: #eeeeee;
$grayColorDarkSecondary: #999999;
$grayColor: #777777;

$orangeColorLight: #ffb900;
$orangeColorDark: #ff7300;

$orangeLight: #ffb900;
$orangeDark: #ff7300;

$purpleColorLight: #2998ff;
$purpleColorDark: #5643fa;





// grid
$gridMaxWidth: 114rem;
$gutterVertical: 8rem;
$gutterVerticalMedium: 6rem;
$gutterHorizontal: 6rem;


// Font
$defaultFontSize: 1.6rem;

// margins